@model List<Category>

<h2>Welcome to Amazon Categories</h2>

<table class="table-bordered table table-striped">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>DisplayOrder</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var objCategory in Model)
        {
            <tr>
                <td>@objCategory.Name</td>
                <td>@objCategory.DisplayOrder</td>
            </tr>
        }

    </tbody>

</table>